<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
	<title>Desafio Tecnico V.2</title>
</head>

<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

<body style="background-image: url(/img/bg-index.png)" >

	<div class="logo">
		<img class="logo" src="/img/Logo.png">
	</div>

	<div class="center botoes">
		<div class="wm">
			<a th:href="@{/cadastrar}" class="btn">CADASTRAR PESSOA</a>
		</div>
		<div class="wm">
			<a th:href="@{/pessoas-adicionadas}" class="btn justify-content-center">CONSULTAR CADASTROS</a>
		</div>
		<div class="clear"></div>
	</div>

</body>

<div th:replace="fragmentos/fragmentos :: rodape"></div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>